---
const cards = [
  {
    id: 1,
    topic: "Genuine and special team members",
    client: "Andy Curry",
    job: "AirBnb",
    transparent: true,
  },
  {
    id: 2,
    topic: "They pull it off, again and again.",
    client: "Barry Bones",
    job: "MTN",
    transparent: false,
  },
  {
    id: 3,
    topic: "Absorbed our model immediately!!",
    client: "Stephan Crew",
    job: "Content Creator",
    transparent: true,
  },
  {
    id: 4,
    topic: "Took time to learn our business",
    client: "Andrew Price",
    job: "CMBBS",
    transparent: true,
  },
];
---

<div class="w-full lg:h-[750px] relative pb-20 lg:pb-0">
  <div class="absolute left-0 top-0 z-10">
    <img src="/landing/clientTop.png" alt="" />
  </div>
  <div class="flex flex-col items-center relative z-50 pt-16 lg:pt-24">
    <h4 class="text-[#FF601F] text-base md:text-xl font-bold noto text-center">
      OUR REPUTATION
    </h4>
    <h4
      class="redHat text-[#101828] text-[2rem] md:text-5xl xl:text-[4rem] font-semibold text-center mt-6"
    >
      Why our Clients love us
    </h4>
    <div class="w-full overflow-auto bar">
      <div class="flex gap-8 mt-12 md:mt-20 w-fit bar">
        {
          cards.map((card) => (
            <div
              class={`w-[20.3125rem] md:w-[27.8125rem] p-6 bar ${
                card.transparent ? "bg-white" : "bg-[#101828]"
              } rounded-lg`}
            >
              <div class="text-[#FF601F] text-2xl md:text-[2.5rem] font-semibold">“</div>
              <h4
                class={`${
                  card.transparent ? "text-[#101828]" : "text-white"
                } redHat text-2xl md:text-[2.5rem] font-semibold border-b border-b-[rgba(208,213,221,0.5)] pb-3 md:leading-[3.2rem]`}
              >
                {card.topic}
              </h4>
              <div class="flex gap-6 items-center mt-3">
                <div class="w-12 h-12 rounded-full bg-[#D9D9D9]" />
                <div class="">
                  <p
                    class={`${
                      card.transparent ? "text-[#344054]" : "text-white"
                    } noto font-bold text-sm md:text-base`}
                  >
                    {card.client}
                  </p>
                  <p
                    class={`${
                      card.transparent ? "text-[#667085]" : "text-[#D0D5DD]"
                    } redHat text-xs md:text-sm`}
                  >
                    {card.job}
                  </p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="hidden lg:flex items-center justify-center gap-4 mt-14">
      <div class="p-4 bg-white rounded-full">
        <img src="/landing/arrowLeft.svg" alt="left-arrow" />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img src="/landing/arrowRight.svg" alt="left-arrow" />
      </div>
    </div>
  </div>
</div>

<style>
  .bar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
