<div>
  <!-- First gallery -->
  <div class="pt-24 bg-[#1D2939]">
    <h4
      class="container redHat text-white text-5xl xl:text-[4rem] font-semibold text-center"
    >
      Our Curated Masterpieces
    </h4>
    <p
      class="container text-center noto leading-6 text-[#98A2B3] pt-6 pb-12 lg:w-[70%] 2xl:w-[42%]"
    >
      Projects that define our commitment to storytelling, innovation, and the
      art of video editing. Each video is a masterpiece, a testament to our
      dedication to making your vision a reality
    </p>
  </div>
  <!-- Second Gallery -->
  <div
    class="techGallery h-[600px] lg:h-[750px] w-full flex flex-col justify-center items-center"
  >
    <h4
      class="redHat text-5xl md:text-7xl xl:text-[6.25rem] font-extrabold text-center text-white"
    >
      The Tech Guy
    </h4>
    <p class="container noto text-2xl text-[#F2F4F7] text-center mt-8">
      A Day in the life of a Software Developer
    </p>
    <button
      class="mt-12 py-3 px-5 w-fit bg-[rgba(255,255,255,0.17)] shadow-[0px_14px_16px_0px_rgba(29,41,57,0.05)] text-white text-base font-extrabold rounded-lg flex items-center gap-3"
    >
      <span>VIEW PROJECT</span>
      <img src="/landing/whiteArrow.png" alt="" />
    </button>
  </div>
  <!-- Third Gallery -->
  <div
    class="pulseGallery w-full h-[600px] lg:h-[750px] flex flex-col justify-center items-center"
  >
    <h4
      class="redHat text-5xl md:text-7xl xl:text-[6.25rem] font-extrabold text-center text-white"
    >
      We Are the Pulse
    </h4>
    <p class="container noto text-2xl text-[#F2F4F7] text-center mt-8">
      An Ad made for MTN.
    </p>
    <button
      class="mt-12 py-3 px-5 w-fit bg-[rgba(255,255,255,0.17)] shadow-[0px_14px_16px_0px_rgba(29,41,57,0.05)] text-white text-base font-extrabold rounded-lg flex items-center gap-3"
    >
      <span>VIEW PROJECT</span>
      <img src="/landing/whiteArrow.png" alt="" />
    </button>
  </div>
  <!-- Fourth Gallery -->
  <div
    class="projectsGallery h-[600px] lg:h-[750px] w-full flex flex-col justify-center items-center relative bg-[url('/landing/projectMobBg.png')] md:bg-[url('/landing/projectTabBg.png')] lg:bg-[url('/landing/projectGallery.png')] bg-no-repeat bg-contain bg-center lg:bg-[right_center]"
  >
    <div
      class="absolute top-o left-o right-o bottom-0 bg-[rgba(16,24,40,0.67)] w-full h-full"
    >
    </div>
    <div class="relative flex flex-col justify-center items-center">
      <h4
        class="redHat text-5xl md:text-7xl xl:text-[6.25rem] font-extrabold text-center text-white"
      >
        All Projects
      </h4>
      <p class="container noto text-2xl text-[#F2F4F7] text-center mt-8">
        We don't like to brag, so let our work do the talking
      </p>
      <button
        class="mt-12 py-3 px-5 w-fit bg-[rgba(255,255,255,0.17)] shadow-[0px_14px_16px_0px_rgba(29,41,57,0.05)] text-white text-base font-extrabold rounded-lg flex items-center gap-3"
      >
        <span>VIEW PROJECT</span>
        <img src="/landing/whiteArrow.png" alt="" />
      </button>
    </div>
  </div>
</div>

<style>
  .techGallery {
    background-image: url("/landing/galleryA.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pulseGallery {
    background: linear-gradient(0deg, #45431f 0%, #454320 100%);
  }

  .projectsGallery {
    /* background-image: url("/landing/projectGallery.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right; */
    background-color: #10182b;
  }

  button {
    backdrop-filter: blur(7.5px);
  }
</style>
