<div class="container h-[30rem] md:h-[43.875rem] rounded hero relative">
  <div
    class="relative flex flex-col justify-center items-center gap-6 pt-24 md:pt-32 lg:pt-48 z-40"
  >
    <h1
      class="text-[#101828] text-[1.5rem] md:text-[4rem] text-7xl font-black text-center leading-[2rem] md:leading-normal"
    >
      Crafting Visual Stories <br />
      <span class="text-[#FF601F] lg:text-[#101828]">Beyond</span> Imagination
    </h1>
    <p
      class="text-[#1D2939] text-base font-normal text-center w-full md:w-[80%]"
    >
      Elevate your brand, Experience the power of storytelling through the lens
      of creativity and innovation.
    </p>
    <button
      class="bg-[#FF601F] px-5 py-3 rounded-lg text-white text-base font-extrabold flex items-center gap-3 mt-3"
      ><span>LET'S TALK!</span>
      <img src="/landing/arrowUp.png" alt="arrow-up" /></button
    >
  </div>
  <div class="hidden md:block absolute bottom-0 left-0 z-10">
    <img src="/landing/heroSideImg.png" alt="side-img" />
  </div>
  <div class="md:hidden absolute bottom-0 left-0 z-10">
    <img src="/landing/mobileHeroSideImgA.png" alt="side-img-B" />
  </div>
  <div class="hidden md:block absolute bottom-0 right-0 z-20">
    <img src="/landing/heroSideImgB.png" alt="side-img-B" />
  </div>
  <div class="md:hidden absolute bottom-0 right-0 z-20">
    <img src="/landing/mobileHeroSideImgB.png" alt="side-img-B" />
  </div>
</div>

<style>
  .hero {
    background: linear-gradient(
      180deg,
      rgba(234, 236, 240, 0) 35.1%,
      #eaecf0 100%
    );
  }

  .hero h1 {
    font-family: "Red Hat Display", sans-serif;
  }

  .hero p {
    font-family: "Noto Sans", sans-serif;
  }
</style>
