<form class="flex flex-col justify-center items-center">
  

    <section>
        <div  class=" data-tab-business p-4">
            <form class="w-[100%] mx-auto">
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 text-sm  mt-[3.5rem] mb-2">Company Name</label>
                    <input type="text" id="name" name="name" class="border rounded  py-[3px] px-[3] w-[30rem]" placeholder=" Enter business name " />
                </div>
    
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-sm  mb-2">Business Email Address</label>
                    <input type="email" id="email" name="email" class="border rounded w-full py-2 px-3" placeholder="Enter email address" />
                </div>
    
                <div class="mb-4">
                  <label for="email" class="block text-gray-700 text-sm  mb-2">Subject (Optional)</label>
                 <input type="email" id="email" name="email" class="border rounded w-full py-2 px-3" placeholder="Enter subject" />
                </div>
    
                <div class="mb-4 ">
                    <label for="email" class="block text-gray-700 text-sm  mb-2">Tell us what you need.</label>
                    <textarea id="email" name="email" class="border rounded w-full h-[6.6rem] py-2 px-3" placeholder="Type your message..."> </textarea>
                </div>
    
                <div class="mb-4">
                     <a href="" ><button class=" bg-[#FF601F] w-full text-[#fff] rounded py-2 text-xs">SEND MESSAGE </button></a>
                </div>
            </form>
        </div>
        
     </section>