<div>
    <h1 class="text-[700] text-[3rem] text-center font-display font-bold text-5xl uppercase text-gray-1100 mt-[4rem]">GET IN TOUCH</h1>
</div >
<div class="  mb-[50px] text-[#1D2939] text-[1rem] font-[400] lg:w-[55%] md:w-[70%] mt-[1.5rem] text-center mx-auto">
    <p >In just 48 hours, our experts will meticulously assess your video content and reveal untapped opportunities for
        enhancing your brand and visual storytelling.</p>
</div>

