---
---

<div class="bg-[#F2F4F7] w-full flex justify-center">
<div class="mx-[50px] my-[25px]">
    <h1 class="text-center text-[64px] text-[#1D2939] font-semibold">Carefully Picked Videos</h1>
    <div class=" flex flex-col md:flex-row">
        <div class=" border-b border-gray-300  flex justify-center ml-[1.5rem]">
            <span class="m-2 cursor-pointer text-[1.5rem]">Businesses</span>
            <span class="m-2 cursor-pointer text-[1.5rem]">Individuals</span>
        </div>
       <div>
        <select class="w-[169px] h-[44px] rounded-md p-2">
            <option value="choice1">Short Films</option>
            <option value="choice2">Long Films</option>
        </select>
       </div>
        
    </div>
    <div class="grid md:grid-cols-2 lg:gird-cols-3">
        <img class="m-2 cursor-pointer" src="/portfolio/vdocard.svg" alt="">
        <img class="m-2 cursor-pointer" src="/portfolio/vdocard.svg" alt="">
        <img class="m-2 cursor-pointer" src="/portfolio/vdocard.svg" alt="">
        <img class="m-2 cursor-pointer" src="/portfolio/vdocard.svg" alt="">
        <img class="m-2 cursor-pointer" src="/portfolio/vdocard.svg" alt="">
        <img class="m-2 cursor-pointer rounded-md" src="/portfolio/lvdocard.svg" alt="">
    </div>
</div>