<section>
    <div class="px-[1rem] lg:px-[10rem] lg:py-[6rem] md:py-[4.5rem] py-[4.5rem] ">
        <h2 class="text-[#101828] lg:text-[4rem] md:text-[3rem] text-[1.5rem]  font-bold text-center">LET US KNOW HOW WE CAN HELP YOUR BUSINESS.</h2>
        <p></p>
    </div>
</section>