<section class="lg:px-[10rem] w-[100%]">
  <div class="bg-gradient-to-b from-transparent to-gray-200  md:h-[20rem] flex lg-items-center lg-justify-center border-b-4 mt-[4rem] lg:mt-[2rem] md:mt-[3.62rem]">
    <div class="text-center mb-[4rem]">
      <h1 class="text-[#101828] text-[2rem]  md:text-[4rem] font-[900] ">For<span class="text-[#FF601F] "> Individuals</span></h1>
      <p class="text-[#1D2939] text-[1rem] mt-[1.5rem]  font-[400] lg-w-[50rem] md:w-[70%] w-[95%]  text-center mx-auto ">In the realm of video creativity, every frame is a canvas, and we're here to help you paint your stories. Welcome to tifi.tv, where we cater to the unique needs of content creators, travelers, vloggers, and individuals with a passion for visual storytelling.</p>
    </div>
  </div>
</section>

