---
import Header from "./Header.astro";
import UnlockYourPotential from "./UnlockYourPotential.astro";
import WhatWeCanDo from "./WhatWeCanDo.astro";
import CaseStudies from "./CaseStudies.astro";
import Faq from "./Faq.astro";
import Contact from "./contact.astro";
---

<head>
  <title>Individuals</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
</head>

<div class="font-red-hat-display">
  <Header />
  <UnlockYourPotential />
  <WhatWeCanDo />
  <CaseStudies />
  <Contact />
  <Faq />
</div>
