

 <div class="container">
    <div class="header-body">
      <div class="header-hero">
        <div class="header"></div>
        <div class="hero">
          <h1>For <span>  Businesses</span></h1>
          <p>
            We offer a rich palette of services designed to meet the diverse needs
            of businesses. Whether it's unveiling a new product, igniting your
            brand's presence, or enhancing internal communications, our video
            editing services are tailored to your specific objectives.
          </p>
        </div>
      </div>
    </div>

    <section class="first-section">
      <div class="first-div">
        <div class="top-text">
          <h1 class="first-section-title">Our Palette of <span>Corporate</span> Video Services</h1>
          <p class="first-section-p">Unlocking the Power of Visual Storytelling for Your Business</p>
        </div>
        <div class="first-section-images-div">
          <div class="image-div">
            <img src="business-img/first.svg" alt="first-image" class="first-img" />
            <p class="image-title">Product <span>Demonstrations</span></p>
            <p class="image-p">
              Present your products in their best light with dynamic and engaging
              demonstrations that showcase their features and benefits.
            </p>
          </div>
          <div class="image-div">
            <img src="business-img/second.svg" alt="second-image" class="first-img" />
            <p class="image-title">Promotional <span>Videos</span></p>
            <p class="image-p">
              Craft compelling promotional videos that captivate your audience,
              drive conversions, and enhance brand visibility.
            </p>
          </div>
          <div class="image-div">
            <img src="business-img/third.svg" alt="third-image"  class="first-img"/>
            <h1 class="image-title"><span>Internal</span> Communications</h1>
            <p class="image-p">
              Foster strong internal connections through effective video
              communication, making sure your message resonates with your team.
            </p>
          </div>
        </div>
        <div class="bottom-div">
          <p>
            We believe that every video has a story to tell, and every story has a
            message that connects. Our corporate video services are not just about
            visuals; they're about creating a lasting impact on your branding and
            marketing goals.
          </p>
          <button>LET'S TALK
            <img src="business-img/white-arrow.svg" />
          </button>
        </div>
      </div>
    </section>

    <section class="second-section">
      <div class="second-div">
        <div second-top-div>
          <p class="second-top-div-p">WHAT WE CAN DO FOR YOU</p>
          <h1 class="custom">Custom Solutions for...</h1>
        </div>
        <div class="box-div">
          <div class="box">
            <h3>Branding & Marketing</h3>
            <p> <img src="business-img/tick-icon.svg" />Brand Identity Videos</p>
            <p> <img src="business-img/tick-icon.svg" />Product and Service Promotion</p>
            <p> <img src="business-img/tick-icon.svg" />Event Videos</p>
            <p> <img src="business-img/tick-icon.svg" />Recruitment and HR Videos</p>
            <p> <img src="business-img/tick-icon.svg" />Training and Educational Videos</p>
            <p> <img src="business-img/tick-icon.svg" />And many more</p>
            <p class="box-p">We're here to help you. Reach out to us as soon as possible!</p>
          </div>

          <div class="box2">
            <h3>Digital Marketing</h3>
            <p> <img src="business-img/tick-icon.svg" /> Social Media Videos</p>
            <p> <img src="business-img/tick-icon.svg" /> Ad Campaign Videos</p>
            <p> <img src="business-img/tick-icon.svg" /> Content Marketing Videos</p>
            <p> <img src="business-img/tick-icon.svg" /> Email Marketing Videos</p>
            <p> <img src="business-img/tick-icon.svg" /> YouTube and Online Video Content</p>
            <p> <img src="business-img/tick-icon.svg" />And many more</p>
          </div>
        </div>
      </div>
    </section>



<style>
 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
font-family: 'Red Hat Display', sans-serif;
}
span {
  color: #FF601F;
}

.container {
  background-color: #FFF;
}

.header-body {
  background-color: #FFF;
  padding: 0 10rem 6rem;
}

.header {
  width: 100%;
  padding: 2.25rem;
  border-radius: 24px;
  border: 1px solid #EAECF0;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.06);
  background-color: #fff;
}

.header-hero {
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-items: center;
  padding-top: 2rem;
  background: linear-gradient(180deg, rgba(234, 236, 240, 0.00) 35.1%, #EAECF0 100%);
}

.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-items: center;
  width: 70%;
  padding-top: 6.25rem;
  padding-bottom: 8.625rem;
  row-gap: 1.5rem;
}

.hero h1 {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero p {
  color: #1D2939;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* first section */

.first-section {
  background-color: #F2F4F7;
  padding: 96px 160px;
}

.first-div {
  display: flex;
  flex-direction: column;
}

.first-section-title {
  color: #101828;
  text-align: center;
  font-size: 3.125rem;
  font-weight: 600;
}

.first-section-p {
  color: #344054;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;

}

.first-section-images-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 56px 0;
  column-gap: 31px;
}

.first-img {
  width: 100%;
}

.image-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
}

.image-div {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  padding-bottom: 24px;
  overflow: hidden;
}

.image-title {
  color: #101828;
}

.image-p {
  padding: 0 16px;
  margin-top: 8px;
  color: #344054;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%
}

.bottom-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.bottom-div p {
  text-align: center;
  width: 702px;
  line-height: 160%;
}

.bottom-div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 12px;
  column-gap: 12px;
  outline: none;
  border: none;
  background-color: #FF601F;
  color: #fff;
}


/* second section */
.second-section {
  padding: 96px 0;
  background-color: #fff;
}

.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.second-top-div-p {
  color: #FF601F;
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 700;
}

.custom {
  color: #101828;
  text-align: center;
  margin-top: 24px;
  font-size: 50px;
  font-weight: 600;
}

.box-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: flex-start;
  justify-items: center;
  column-gap: 32px;
}

.box-div h3 {
  font-size: 36px;
  margin-bottom: 24px;
}

.box-div p {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.box {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #F2F4F7;
  border-radius: 16px;
}

.box-p {
  margin-top: 30px;
}

.box2 {
  background-color: #FCECE7;
  padding: 32px 32px 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  width: 100%;
}
</style>
