---
import Layout from "../layouts/Layout.astro";
import Individuals from "../components/individuals/Individuals.astro";

---

<Layout title="Welcome to Astro.">
  <div>
    <Individuals />
  </div>

  
</Layout>
