---
import Navbar from '../components/Getintouch/Navbar.astro';
import Footer from "../components/Getintouch/Footer.astro";
import Contacts from '../components/Form/Contacts.astro';
import HeaderText from '../components/Form/HeaderText.astro'
---
<div>
    <Navbar/>
    <HeaderText/>
    <Contacts/>
    <Footer/>
</div>