---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/hero.astro";
import Cards from "../components/landing/cards.astro";
import WhatMakesUsSpecial from "../components/landing/what-makes-us-special.astro";
import WhoWeHelp from "../components/landing/who-we-help.astro";
import OurProcess from "../components/landing/our-process.astro";
import Gallery from "../components/landing/gallery.astro";
import Client from "../components/landing/client.astro";
import Footer from "../components/resources/Footer.astro";
import Navbar from "../components/resources/Navbar.astro";
import Companies from "../components/landing/companies.astro";
import Explore from "../components/landing/explore.astro";
import FormWrapper from "../components/resources/FormWrapper.astro";
import FAQ from "../components/Portfolio/FAQ.astro";
---

<Layout title="">
  <!-- <Navbar /> -->
  <Hero />
  <Companies />
  <div
    class="more w-full h-[350px] md:h-[600px] xl:h-[900px] flex justify-center items-center mt-5"
  >
    <h2
      class="text-[2.5rem] md:text-[4rem] xl:text-[6.25rem] text-center text-[rgba(255,255,255,0.21)] font-extrabold leading-[4rem] md:leading-[6.4rem] xl:leading-[10rem] tracking-tighter uppercase"
    >
      We are more than <br /> just a website.
    </h2>
  </div>
  <Cards />
  <WhatMakesUsSpecial />
  <div
    class="more w-full h-[300px] md:h-[400px] xl:h-[600px] flex items-center"
  >
    <div class="container flex flex-col gap-3 lg:gap-0 xl:gap-3">
      <h4
        class="text-[2rem] md:text-[4rem] lg:text-7xl xl:text-[6.25rem] text-[rgba(255,255,255,0.21)] font-extrabold leading-[3.2rem] md:leading-[6.4rem] lg:leading-[10rem] tracking-tighter uppercase"
      >
        Your vision
      </h4>
      <h4
        class="text-right text-[2rem] md:text-[4rem] lg:text-7xl xl:text-[6.25rem] text-[rgba(255,255,255,0.21)] font-extrabold leading-[3.2rem] md:leading-[6.4rem] lg:leading-[10rem] tracking-tighter uppercase"
      >
        ...is our mission
      </h4>
    </div>
  </div>
  <WhoWeHelp />
  <OurProcess />
  <Gallery />
  <Client />
  <div
    class="w-full h-[300px] md:h-[400px] xl:h-[600px] flex items-center happyClient"
  >
    <div class="container flex flex-col gap-3 lg:gap-0 xl:gap-3">
      <h4
        class="text-[2rem] md:text-[4rem] xl:text-[6.25rem] text-[rgba(255,255,255,0.21)] font-extrabold leading-[3.2rem] md:leading-[6.4rem] lg:leading-[10rem] tracking-tighter uppercase"
      >
        Like to be among
      </h4>
      <h4
        class="text-right text-[2rem] md:text-[4rem] xl:text-[6.25rem] text-[rgba(255,255,255,0.21)] font-extrabold leading-[3.2rem] md:leading-[6.4rem] lg:leading-[10rem] tracking-tighter uppercase"
      >
        our happy clients?
      </h4>
    </div>
  </div>
  <FormWrapper />
  <Explore />
  <FAQ />
  <!-- <Footer /> -->
</Layout>

<style>
  body {
    background-color: #F2F4F7;
  }

  .more {
    font-family: "Red Hat Display", sans-serif;
    background: #0a0e18;
  }

  .more h2,
  .more h4,
  .happyClient h4 {
    -webkit-text-stroke: 3px #84868b;
  }

  .happyClient {
    background-image: url("/landing/happyClientFrame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
