<!-- ---
import Layout from "../layouts/Layout.astro";

import GetInTouch from "../components/Getintouch/GetInTouch.astro";
---

<Layout title="Welcome to Astro.">
  <div>
    <GetInTouch />
  </div>
</Layout> -->
