---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Portfolio/Hero.astro";
import FAQ from "../components/Portfolio/FAQ.astro";
import Introdiv from "../components/Portfolio/Introdiv.astro";
const firstWord = "Featured";
const secondWord = "Works";
const description = "We don't just edit videos; we choreograph stories that resonate, inspire, and leave a lasting impression. Browse through our award-winning work and find concepts that move you"
---

<Layout title="Portfolio">
    <div class="flex justify-center">
        <Introdiv firstWord={firstWord} secondWord={secondWord} description={description}/>
    </div>

    <div class="flex justify-center mt-[45px]">
        <Hero />
    </div>
    
    <div class="flex justify-center">
        <FAQ />
    </div>


</Layout>