---
import Navbar from "../components/resources/Navbar.astro";
import Header from "../components/resources/Header.astro";
import InnerNav from "../components/resources/InnerNav.html";
import VideoEditing from "../components/resources/VideoEditing.astro";
import Custom from "../components/resources/Custom.astro";
import FormWrapper from "../components/resources/FormWrapper.astro";
import Componies from "../components/resources/Componies.astro";
import Footer from "../components/resources/Footer.astro";
import FAQ from "../components/resources/FAQ.html";
---

<div class="md:pt-2">
  <Navbar />
</div>
<Header />
<InnerNav />
<VideoEditing />
<Custom />
<FormWrapper />
<FAQ />
<Componies />
<Footer />
