---


---
<section class="bg-[#ff4d002b] py-[4rem] relative z-10">
  <h2 class="text-center pb-8">Join 4,000+ companies already growing</h2>
  <div
    class="custom-container mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6
    items-center gap-12 justify-between borde"
  >
    <img
      src="./resouces/airbnb.svg"
      alt="airbnb"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/linear.svg"
      alt="linear"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/paypal.svg"
      alt="paypal"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/youtube.svg"
      alt="youtube"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/uber.svg"
      alt="uber"
      class="md:w-[80%] w-[180px] mx-auto"
    />
    <img
      src="./resouces/zoom.svg"
      alt="zoom"
      class="md:w-[80%] w-[180px] mx-auto"
    />
  </div>
</section>

<footer class="py-[5rem]">
    <div class="custom-container mx-auto">
      <img src="./resouces/Tifi.svg" alt="" class="w-16 pb-8" />
      <p class="md:max-w-[30%] text-gray-600 pb-8">
        Experience the power of storytelling through the lens of creativity and
        innovation.
      </p>
      <div class="flex items-center gap-8 font-light text-gray-500 pb-14">
        <a href="/about">About Us</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/client">Client</a>
        <a href="/resources">Resources</a>
      </div>
      <hr class="pb-8" />
      <div class="flex flex-col md:flex-row md:justify-between items-center">
        <span class="font-light text-gray-500 pb-8 self-start md:self-auto">
          2023 Tifi. All rights reserved.</span
        >
        <div class="flex gap-6 self-start md:self-auto">
          <img src="./resouces/twitter.svg" alt="twitter" />
          <img src="./resouces/linkedin.svg" alt="linkedin" />
          <img src="./resouces/fb.svg" alt="facebook" />
        </div>
      </div>
    </div>
  </footer>
  <style>
    .custom-container {
      max-width: 1200px;
    }
    /* Extra small devices (phones, 600px and down) */
    
  @Tech_Lab Media
   (max-width: 600px) {
      .custom-container {
        padding-inline: 1rem;
      }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
  @Tech_Lab Media
   only screen and (min-width: 600px) {
      .custom-container {
        padding-inline: 1.5rem;
      }
    }
    
  </style>