---


---
<footer class='flex flex-col  bg-[#FF4D002B] justify-center items-center'>
    <div class=" text-center my-5 " >
        <p>Join 4,000+ companies already growing</p>
    </div>
<div class="flex justify-between items-center space-x-10 m-3  mb-6 w-[1100px] flex-wrap">
    <img src="/footer/Airbnb.svg" alt="">
    <img src="/footer/Linear logo.svg" alt="">
    <img src="/footer/Paypal logo.svg" alt="">
    <img src="/footer/YouTube logo.svg" alt="">
    <img src="/footer/Uber logo.svg" alt="">
    <img src="/footer/Zoom logo.svg" alt="">
</div>
</footer>
<div>
    <img src="/navbar/Logo.svg">
</div>