---


---
<!-- <nav class="flex justify-center">
    <div class=" flex justify-between space-x-4 w-[1000px]  rounded-md mt-4 border shadow-gray-200">
    <img src="/navbar/Logo.svg" class="p-3">
    <div class=" p-3 flex justify-between items-center space-x-4">
    <a href="/" class="">About Us</a>
    <a href="/about" class="">Portfolio</a>
    <a href="/client" class="">Client</a>
    <a href="/resources" class="">Resources</a>
    </div>
    <a href="" class=" p-3"><button class=" bg-[#FF601F] text-[#fff] rounded p-2 text-xs">LET'S TALK </button></a>
   

    </div>
    
  </nav> -->
  <nav class="mt-3">
    <div
      class="custom-container mx-auto md:border
    md:rounded-2xl p-4 py-5 md:py-auto border-b shadow-md flex items-center justify-between"
    >
      <img src="./resouces/Tifi.svg" alt="tifi" />
      <div class="hidden md:flex items-center gap-8">
        <a href="/about">About Us</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/client">Client</a>
        <a href="/resources">Resources</a>
      </div>
      <button
        class="hidden md:block bg-orange-600 text-white text-sm font-semibold p-3 px-5 rounded-lg"
        >LET'S TALK</button
      >
      <img src="./resouces/menu.svg" alt="menu" class="block md:hidden" />
    </div>
  </nav>
  <style>
    .custom-container {
      max-width: 1145px;
    }
    /* Extra small devices (phones, 600px and down) */
    
  @Tech_Lab Media
   (max-width: 600px) {
      .custom-container {
        padding-inline: 1rem;
      }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
  @Tech_Lab Media
   only screen and (min-width: 600px) {
      .custom-container {
        padding-inline: 1.5rem;
      }
    }
  </style>