---


---
<nav class="flex justify-center">
    <div class=" flex justify-between space-x-4 w-[1000px]  rounded-md mt-4 border shadow-gray-200">
    <img src="/navbar/Logo.svg" class="p-3">
    <div class=" p-3 flex justify-between items-center space-x-4">
    <a href="/" class="">About Us</a>
    <a href="/about" class="">Portfolio</a>
    <a href="/client" class="">Client</a>
    <a href="/resources" class="">Resources</a>
    </div>
    <a href="" class=" p-3"><button class=" bg-[#FF601F] text-[#fff] rounded p-2 text-xs">LET'S TALK </button></a>
   

    </div>
    
  </nav>