<section class="bg-[#ff4d002b] py-[4rem] relative z-10">
  <h2 class="text-center pb-8">Join 4,000+ companies already growing</h2>
  <div
    class="custom-container mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6
    items-center gap-12 justify-between borde"
  >
    <img
      src="./resouces/airbnb.svg"
      alt="airbnb"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/linear.svg"
      alt="linear"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/paypal.svg"
      alt="paypal"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/youtube.svg"
      alt="youtube"
      class="md:w-[80%] w-[205px] mx-auto"
    />
    <img
      src="./resouces/uber.svg"
      alt="uber"
      class="md:w-[80%] w-[180px] mx-auto"
    />
    <img
      src="./resouces/zoom.svg"
      alt="zoom"
      class="md:w-[80%] w-[180px] mx-auto"
    />
  </div>
</section>

<style>
  .custom-container {
    max-width: 1200px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .custom-container {
      padding-inline: 1rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-container {
      padding-inline: 1.5rem;
    }
  }
</style>
