<section
  class="bg-gray-100 md:bg-gray-50 z-10 relative lg:bg-gray-100 py-[4rem] lg:py-[8rem]"
>
  <p
    class="text-orange-500 uppercase text-lg text-center
    hidden md:block lg:hidden font-bold pb-6"
  >
    WHAT WE CAN DO FOR YOU
  </p>
  <p
    class="text-orange-500 uppercase text-lg text-center
    block md:hidden font-bold pb-6"
  >
    WHO WE HELP
  </p>
  <h3
    class="text-center pb-10 md:pb-14 lg:hidden font-semibold
  text-3xl md:text-5xl"
  >
    Custom Solutions for...
  </h3>
  <div class="custom-container mx-auto grid gap-8">
    <div
      class="bg-white flex flex-col-reverse lg:flex-row
      p-4 md:p-8 lg:p-3 rounded-lg gap-8 md:gap-4 lg:gap-0"
    >
      <div class="grid lg:gap-8 self-center lg:pl-10">
        <h3
          class="text-2xl md:text-3xl lg:text-4xl font-bold
        pt-6 pb-4 lg:pb-0 lg:pt-0"
        >
          Businesses and Brands
        </h3>
        <p class="lg:w-4/5 text-gray-500 pb-8 lg:pb-0">
          From marketing strategies to the latest industry insights, our
          resources are designed to be your guiding light in the world of visual
          storytelling. We're dedicated to helping businesses harness the true
          potential of video content to connect with their audience, drive
          conversions, and elevate their brand presence.
        </p>
        <a
          href=""
          class="flex justify-between items-center p-2 rounded-lg border-2
        max-w-[228px] px-5 font-bold"
        >
          VIEW RESOURCES
          <img src="./Frame18.svg" alt="" class="w-5 h-5" />
        </a>
      </div>
      <img src="./Frame144.svg" alt="" class="" />
    </div>
    <div
      class="bg-[#F4E2DD] flex flex-col-reverse lg:flex-row
    p-4 md:p-8 lg:p-3 rounded-lg"
    >
      <div class="grid lg:gap-8 self-center lg:pl-10">
        <h3
          class="text-2xl md:text-3xl lg:text-4xl font-bold
        pt-6 pb-4 lg:pb-0 lg:pt-0"
        >
          Individuals
        </h3>
        <p class="lg:w-4/5 text-gray-500 pb-8 lg:pb-0">
          Whether you're a content creator, a filmmaker, or someone with a
          passion for video, our resources are designed to be your creative
          compass. We're here to help you turn your vision into captivating
          reality, enhancing your storytelling, and making every frame count.
        </p>
        <a
          href=""
          class="flex justify-between items-center p-2 rounded-lg border-2
        max-w-[228px] px-5 font-bold border-black border-opacity-20"
        >
          VIEW RESOURCES
          <img src="./Frame18.svg" alt="" class="w-5 h-5" />
        </a>
      </div>
      <img src="./Frame145.svg" alt="" />
    </div>
  </div>
</section>

<style>
  .custom-container {
    max-width: 1200px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .custom-container {
      padding-inline: 1rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-container {
      padding-inline: 1.5rem;
    }
  }
</style>
