<div class="py-[8rem] relative z-10 bg-gray-50 lg:border-2 lg:border-x-0 lg:border-b-0 accordion">
  <h2 class="text-center text-6xl font-bold pb-12">FAQ</h2>
  <div class="custom-container mx-auto grid gap-6 md:grid-cols-2">
    <div class="bg-gray-100 p-4 rounded-lg accordion-item  z-10">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-1" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >What services does tifi.tv offer</span
          ><span class="icon" aria-hidden="true"></span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px]  hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg z-10">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-2" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >How can I get started with your services?</span
          ><span class="icon" aria-hidden="true"> </span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px]  hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-3" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >What sets tifi.tv apart?</span
          ><span class="icon" aria-hidden="true"> </span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px] hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-4" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >Do you have any case studies to share?</span
          ><span class="icon" aria-hidden="true"> </span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px]  hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-5" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >Do you provide custom solutions</span
          ><span class="icon" aria-hidden="true"> </span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px] hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg">
      <div class="flex items-center justify-between">
        <button class="" id="accordion-button-6" aria-expanded="false"
          ><span class="accordion-title text-lg font-bold pb-4"
            >Can I see examples of your previous work?</span
          ><span class="icon" aria-hidden="true"> </span></button
        >
        <img src="./resouces/add.svg" alt="answer" class="bg-gray-200 p-1" />
      </div>
      <div class="accordion-content">
        <p class="font-light max-w-[430px]  hidden pt-4">
          Tifi.tv offers a wide range of services, including video editing,
          content creation, motion graphics, color grading, animation, and more.
          Our goal is to bring your creative vision to life through visual
          storytelling.
        </p>
      </div>
    </div>
  </div>
  <img src="./resouces/Vector.svg" alt="" class=" absolute top-0 left-[0%]
 overflow-hidden md:hidden opacity-50"/>
</div>

<style>
  .custom-container {
    max-width: 1200px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .custom-container {
      padding-inline: 1rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-container {
      padding-inline: 1.5rem;
    }
  }
</style>

