<footer class="py-[5rem]">
  <div class="custom-container mx-auto">
    <img src="./Tifi.svg" alt="" class="w-16 pb-8" />
    <p class="md:max-w-[30%] text-gray-600 pb-8">
      Experience the power of storytelling through the lens of creativity and
      innovation.
    </p>

    <div class="flex items-center gap-8 font-light text-gray-500 pb-14">
      <a href="/about">About Us</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/client">Client</a>
      <a href="/resources">Resources</a>
    </div>
    <hr class="pb-8" />
    <span class="font-light text-gray-500">
      2023 Tifi. All rights reserved.</span
    >
  </div>
</footer>

<style>
  .custom-container {
    max-width: 1200px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .custom-container {
      padding-inline: 1rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-container {
      padding-inline: 1.5rem;
    }
  }
</style>
