<form class="md:max-w-[580px] md:mx-auto">
  <div class="flex flex-col gap-y-2 mb-6 px-2">
    <label>Company Name</label>
    <input
      type="text"
      placeholder="Enter business name"
      class="border rounded-lg p-3 placeholder:opacity-80"
    />
  </div>
  <div class="flex flex-col gap-2 mb-6 px-2">
    <label>Business Email Address</label>
    <input
      type="text"
      placeholder="Enter email address"
      class="border rounded-lg p-3 placeholder:opacity-80"
    />
  </div>
  <div class="flex flex-col gap-2 mb-6 px-2">
    <label>Subject(optinal)</label>
    <input
      type="text"
      placeholder="Enter subject"
      class="border rounded-lg p-3 placeholder:opacity-80"
    />
  </div>
  <div class="flex flex-col gap-2 mb-6 px-2">
    <label>Tell us what you need</label>
    <textarea
      placeholder="Type your message..."
      rows="4"
      cols="50"
      class="p-3
     placeholder:opacity-80 border rounded-lg resize-none"
    ></textarea>
  </div>
  <div class="px-2">
    <button
      class="uppercase bg-orange-600 text-white
    w-full p-2 rounded-lg font-extrabold"
      >SEND MESSAGE</button
    >
  </div>
</form>

<style>
  .custom-container {
    max-width: 1200px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .custom-container {
      padding-inline: 1rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-container {
      padding-inline: 1.5rem;
    }
  }
</style>
