<main class="custom-container mx-auto">
  <section class="bg-gradient-to-t from-gray-100 py-[8rem] rounded-2xl">
    <div class="grid gap-6 justify-center pb-6 lg:pb-11">
      <h1 class="w-full text-4xl md:text-7xl font-bold">
        Resources and <span class="text-orange-500">Insights</span>
      </h1>
      <p
        class="text-base font-normal text-gray-800 text-center max-w-[95%] md:w-full"
      >
        The latest industry news, technologies, and resources.
      </p>
    </div>
    <form class="grid">
      <div
        class="relative border pl-6 rounded-lg bg-white w-[275px] md:w-[320px] justify-self-center"
      >
        <img
          src="./resouces/search.svg"
          alt=""
          class="absolute rounded-lg top-[31.5%] left-2 opacity-60"
        />
        <label></label>
        <input
          type="text"
          placeholder="Search"
          class="py-3 px-3 outline-none"
        />
      </div>
    </form>
  </section>
</main>

<style>
  .custom-container {
    max-width: 1200px;
    padding-inline: 1.5rem;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    .custom-container {
      padding-inline: 0;
    }
  }
</style>
