

<section class="custom-container mx-auto flex flex-col lg:flex-row items-center gap-3 justify-between py-16">
    <div class="lg:flex-grow w-full px-2">
        <div class="flex gap-4 md:gap-8 lg:gap-10
         text-base font-normal border-2
    border-x-0 border-t-0  overflow-x-scroll md:overflow-x-auto slider">
            <button
            onclick="handleInnerNav(0)"
            id="0"
            data-active="true"
            class="btn whitespace-nowrap border-4 border-x-0 border-t-0 border-orange-500 text-orange-500 pb-4 font-bold">
                Video Editing Tips</button>
            <button
            onclick="handleInnerNav(1)"
            id="1"
            data-active="false"
            class="btn whitespace-nowrap pb-4">
            Creative Storytelling
           </button>
            <button
            onclick="handleInnerNav(2)"
            id="2"
            data-active="false"
            class="btn whitespace-nowrap pb-4"> Industry Insights</button>
            <button
            onclick="handleInnerNav(3)"
            id="3"
            data-active="false"
            class="btn whitespace-nowrap pb-4"> Video Marketing</button>
        </div>
    </div>
    <form class="flex gap-2 w-full lg:w-fit">
        <div class="w-full lg:w-[149px] border py-2 px-3 rounded-lg">
            <label for="items"></label>
            <select name="items" id="items" form="innerNav"
            class="w-full mr-4 outline-none">
                <option value="newest">Newst First</option>
                <option value="oldest">Oldest First</option>
            </select>
        </div>
        <div class="w-full lg:w-[149px] border py-2 px-3 rounded-lg">
            <label for="video"></label>
            <select name="video" id="video" form="innerNav"
             class="w-full mr-4 outline-none">
                <option value="videos">Videos</option>
                <option value="photos">Photos</option>
            </select>
        </div>
    </form>
</section>


<style>
    .custom-container {
        max-width: 1200px;
    }

    /* Extra small devices (phones, 600px and down) */
    @media (max-width: 600px) {
        .custom-container {
            padding-inline: 1rem;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .custom-container {
            padding-inline: 1.5rem;
        }
    }

    .slider::-webkit-scrollbar {
        display: none;
    }
</style>
<script>
    const handleInnerNav = (id) => {
        const buttons = document.querySelectorAll('.btn');
        buttons.forEach(button => {
            if (button.id == id) {
                button.dataset.active = "true";
                button.classList.add('border-4', 'border-x-0', 'border-t-0', 'border-orange-500', 'text-orange-500', 'font-bold');
            } else {
                button.dataset.active = "false";
                button.classList.remove('border-4', 'border-x-0', 'border-t-0', 'border-orange-500', 'text-orange-500', 'font-bold');
            }
        })
    };
</script>