---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Getintouch/Navbar.astro"
import Footer from "../components/Getintouch/Footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
